/* these are the site colors, the only colors to be used to maintain a uniform look */



/* shades of teal and blue */

$standard_red: #d83454;
$dark_red: #c0314a;



/* shades of gray */

$light_gray_panel: #f1f2f2;
$light_gray_carousel_el: #a7aeb0;
$medium_gray_border: #cccccc;			// used on input boxes

$dark_gray_text: #414042;



/* shades of white */

$white: #ffffff;
$ghost_white: #fbfbfb;