@font-face {
	font-family: 'museo-sans-300';
	src: url('../fonts/museo-sans-300.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo-sans-500';
	src: url('../fonts/museo-sans-300.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('../fonts/OpenSans-SemiBold.ttf');
	font-weight: normal;
	font-style: normal;
}


$museo_300              : "museo-sans-300", Arial, Helvetica, sans-serif;
$museo_500              : "museo-sans-500", Arial, Helvetica, sans-serif;
$open_sans_regular      : "OpenSans-Regular", Arial, Helvetica, sans-serif;
$open_sans_semi_bold    : "OpenSans-SemiBold", Arial, Helvetica, sans-serif;