/* these are the site colors, the only colors to be used to maintain a uniform look */
/* shades of teal and blue */
/* shades of gray */
/* shades of white */
@font-face {
  font-family: 'museo-sans-300';
  src: url("../fonts/museo-sans-300.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo-sans-500';
  src: url("../fonts/museo-sans-300.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans-300", Arial, Helvetica, sans-serif;
  color: #414042;
  position: absolute;
  top: 20px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

h1 {
  font-size: 60px; }

hr {
  border: 0;
  border-top: 1px solid #000;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0; }

.highlight-red {
  color: #d83454; }

.block, .red-block, .light-gray-block, .white-block {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh; }

.red-block {
  background: #d83454; }

.light-gray-block {
  background: #f1f2f2; }

.white-block {
  background: #ffffff; }

.form-group {
  margin-bottom: 20px; }
  .form-group .form-control {
    border: 2px solid #cccccc;
    min-height: 60px;
    color: #414042;
    font-size: 20px;
    padding: 10px 15px; }

.gl-btn, #contact_section form .contact-btn {
  padding: 10px 15px;
  min-height: 60px;
  font-size: 20px;
  transition: all 0.4s ease-out; }

.block-content {
  padding: 40px 0; }

.btn a, .btn-hollow a, .btn-full a {
  display: block;
  background: none;
  font-family: "museo-sans-500", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 24px;
  border: 2px solid #000;
  border-radius: 3px; }
  .btn a:hover, .btn-hollow a:hover, .btn-full a:hover {
    transition: all 0.4s ease-out; }

.btn-hollow a {
  background: none;
  border-color: #d83454;
  color: #d83454; }
  .btn-hollow a:hover {
    background: #c0314a;
    color: #ffffff; }

.btn-full a {
  background: #d83454;
  border-color: #d83454;
  color: #ffffff; }
  .btn-full a:hover {
    background: #c0314a;
    color: #ffffff; }

.dot-carousel-block {
  display: block;
  /* hiding radio button */
  /* all styling is done on the label element */ }
  .dot-carousel-block .active {
    background: #414042; }
  .dot-carousel-block input[type=radio] {
    display: none; }
  .dot-carousel-block label {
    display: inline-block;
    background: #a7aeb0;
    overflow: hidden;
    text-indent: -999px;
    width: 13px;
    height: 13px;
    margin-right: 13px;
    border-radius: 50%; }
    .dot-carousel-block label:hover {
      background: #d83454;
      cursor: pointer; }
  .dot-carousel-block input:checked + label {
    background: #414042; }
  .dot-carousel-block:hover {
    cursor: default; }

.gl-chevron-arrow, .gl-circle-btn .inner-circle .bottom-block-arrow, .gl-full-red-round-btn .inner-circle .bottom-block-arrow, .gl-hollow-dark-round-btn .inner-circle .bottom-block-arrow, .gl-carousel-arrow, .left-carousel-arrow, .right-carousel-arrow {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  color: #a7aeb0;
  border-color: #a7aeb0;
  border-bottom: 2px solid;
  border-left: 2px solid; }

.gl-circle-btn, .gl-full-red-round-btn, .gl-hollow-dark-round-btn {
  /* The size of the round button */
  position: absolute;
  z-index: 3;
  background: none;
  width: 48px;
  height: 48px;
  left: 50%;
  bottom: 50px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transition: all 0.4s ease-out; }
  .gl-circle-btn .inner-circle, .gl-full-red-round-btn .inner-circle, .gl-hollow-dark-round-btn .inner-circle {
    background: #000;
    position: absolute;
    width: 41px;
    height: 41px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-out;
    /* inherits .gl-chevron-arrow */ }
    .gl-circle-btn .inner-circle .bottom-block-arrow, .gl-full-red-round-btn .inner-circle .bottom-block-arrow, .gl-hollow-dark-round-btn .inner-circle .bottom-block-arrow {
      position: absolute;
      top: 45%;
      left: 50%;
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: all 0.4s ease-out; }
  .gl-circle-btn .circle-shadow, .gl-full-red-round-btn .circle-shadow, .gl-hollow-dark-round-btn .circle-shadow {
    position: absolute;
    background: none;
    width: 48px;
    height: 48px;
    top: -2px;
    left: 50%;
    -o-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

/* styling round button appearance */
.gl-full-red-round-btn {
  border: 2px solid #ffffff; }
  .gl-full-red-round-btn .inner-circle {
    background: #d83454; }
    .gl-full-red-round-btn .inner-circle .bottom-block-arrow {
      color: #ffffff;
      border-color: #ffffff; }
    .gl-full-red-round-btn .inner-circle:hover {
      background: #c0314a; }

.gl-hollow-dark-round-btn {
  border: 2px solid #414042; }
  .gl-hollow-dark-round-btn .inner-circle {
    background: none; }
    .gl-hollow-dark-round-btn .inner-circle .bottom-block-arrow {
      color: #414042;
      border-color: #414042; }
    .gl-hollow-dark-round-btn .inner-circle:hover {
      background: #c0314a; }
      .gl-hollow-dark-round-btn .inner-circle:hover .bottom-block-arrow {
        color: #ffffff;
        border-color: #ffffff; }

/* inherits .gl-chevron-arrow */
.gl-carousel-arrow, .left-carousel-arrow, .right-carousel-arrow {
  color: #a7aeb0;
  border-color: #a7aeb0;
  top: 50%;
  margin-top: 27px;
  z-index: 2; }
  .gl-carousel-arrow:active, .left-carousel-arrow:active, .right-carousel-arrow:active {
    color: #414042;
    border-color: #414042; }

.left-carousel-arrow {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 48px; }

.right-carousel-arrow {
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: 48px; }

/* <<<<< setting standard width limits that will be used responsively >>>>> */
/* Extra Small Devices 	(<768px) 	*/
/* Small Devices 		(>=768px) 	*/
/* Medium Devices 		(>=992px) 	*/
/* Medium Devices 		(>=1200px) 	*/
/* <<<<< setting default css to be used on all key elements >>>>> */
* {
  margin: 0px;
  padding: 0px; }

html {
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  font-family: "museo-sans-300", Arial, Helvetica, sans-serif;
  text-align: center; }

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.arrow-container {
  position: relative; }

.inner-container, .form-container {
  display: block;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto; }

.form-container {
  max-width: 450px; }

.middle-vert-outer-wrap {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }
  .middle-vert-outer-wrap .middle-vert-block {
    display: table-cell;
    vertical-align: middle; }

.left {
  float: left; }

.right {
  float: right; }

/* <<<<< styling block-user-login block >>>>> */
#block-user-login {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 40px; }
  #block-user-login li {
    list-style-type: none; }
  #block-user-login #user-login-form {
    padding-top: 80px; }

/* <<<<< styling LAYOUT responsive display >>>>> */
/* Large Devices */
/* Medium Devices */
/* Small Devices */
/* Smallest Devices */
#header_section {
  font-size: 20px;
  color: #ffffff; }
  #header_section .content-block {
    max-width: 520px;
    margin: 60px auto 0px; }
    #header_section .content-block .logo {
      padding-bottom: 60px; }
      #header_section .content-block .logo img {
        max-height: 150px; }

#infographics_section {
  font-size: 30px;
  color: #414042; }
  #infographics_section img {
    max-height: 300px;
    margin-bottom: 60px; }

#services_section .inner-container, #services_section .form-container {
  margin-top: 90px; }
  #services_section .inner-container .padding-block, #services_section .form-container .padding-block {
    padding-bottom: 30px; }
    #services_section .inner-container .padding-block .icon, #services_section .form-container .padding-block .icon {
      padding-bottom: 50px; }
      #services_section .inner-container .padding-block .icon img, #services_section .form-container .padding-block .icon img {
        max-height: 200px; }
    #services_section .inner-container .padding-block .icon-label, #services_section .form-container .padding-block .icon-label {
      height: 80px;
      font-size: 18px; }
    #services_section .inner-container .padding-block:last-of-type, #services_section .form-container .padding-block:last-of-type {
      padding-bottom: 0px; }

#clients_section .client-img-block img {
  max-height: 70px; }

#clients_section .dot-carousel-block {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto; }

#location_section {
  width: 100%; }
  #location_section .container-fluid {
    padding: 0;
    margin: 0; }
  #location_section .map-wrapper {
    position: relative;
    margin-top: 150px;
    height: 350px; }
    #location_section .map-wrapper #map {
      width: 100%;
      height: 100%; }
    #location_section .map-wrapper .map-shadow, #location_section .map-wrapper .map-shadow-top, #location_section .map-wrapper .map-shadow-bottom {
      position: absolute;
      width: 100%;
      height: 25px;
      z-index: 2; }
    #location_section .map-wrapper .map-shadow-top {
      -o-box-shadow: inset 0px 5px 8px 0px rgba(0, 0, 0, 0.12);
      box-shadow: inset 0px 5px 8px 0px rgba(0, 0, 0, 0.12);
      top: 0; }
    #location_section .map-wrapper .map-shadow-bottom {
      -o-box-shadow: inset 0px -5px 8px 0px rgba(0, 0, 0, 0.12);
      box-shadow: inset 0px -5px 8px 0px rgba(0, 0, 0, 0.12);
      bottom: 0; }

#contact_section form {
  margin-top: 100px; }
  #contact_section form .contact-btn {
    background: #d83454;
    color: #ffffff;
    margin-bottom: 30px; }
    #contact_section form .contact-btn:hover {
      background: #c0314a; }

#contact_section .contact-details {
  font-size: 20px; }

/* <<<<< styling STYLE responsive display >>>>> */
/* Small Devices */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 50px; }
  #services_section .inner-container, #services_section .form-container {
    margin-top: 90px; }
    #services_section .inner-container .padding-block .icon img, #services_section .form-container .padding-block .icon img {
      max-height: 100px; }
  #contact_section .contact-details {
    font-size: 16px; }
    #contact_section .contact-details .contact-icon {
      font-size: 14px;
      padding-right: 10px; } }

/* Medium Devices */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 60px; }
  #services_section .inner-container, #services_section .form-container {
    margin-top: 90px; }
    #services_section .inner-container .padding-block .icon img, #services_section .form-container .padding-block .icon img {
      max-height: 100px; }
  #contact_section .contact-details {
    font-size: 20px; } }

/* Large Devices */
@media only screen and (min-width: 1200px) {
  #services_section .inner-container, #services_section .form-container {
    margin-top: 90px; }
    #services_section .inner-container .padding-block .icon img, #services_section .form-container .padding-block .icon img {
      max-height: 200px; }
  #contact_section .contact-details {
    font-size: 20px; } }

/* Smallest Devices */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 50px; }
  #header_section .content-block .logo img {
    max-height: 100px; }
  #infographics_section img {
    width: 100%; }
  #services_section .inner-container, #services_section .form-container {
    margin-top: 0px; }
    #services_section .inner-container .padding-block .icon, #services_section .form-container .padding-block .icon {
      padding-bottom: 0px; }
      #services_section .inner-container .padding-block .icon img, #services_section .form-container .padding-block .icon img {
        max-height: 65px; }
    #services_section .inner-container .padding-block .icon-label, #services_section .form-container .padding-block .icon-label {
      height: 65px;
      text-align: left;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
  #contact_section .contact-details {
    font-size: 16px; }
    #contact_section .contact-details .contact-icon {
      font-size: 14px;
      padding-right: 10px; } }
